beautifulsoup4==4.14.3
bs4==0.0.2
certifi==2026.4.22
charset-normalizer==3.4.7
dnspython==2.8.0
idna==3.13
pymongo==4.17.0
python-dotenv==1.2.2
requests==2.33.1
soupsieve==2.8.3
typing_extensions==4.15.0
urllib3==2.6.3
